.table {
    border-collapse: collapse;
    margin: 50px auto;
  }
  
  .table__caption {
    color:#c45c40;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .table__cell {
    border: 1px solid #eee;
    padding: 10px;
    text-align: center;
    font-size: 16px;
  }
  
  .table__cell--header {
    background-color: #e0e0e0;
    color:#1E2939;
    font-style: normal;
  }
  
  .table__cell--header:hover {
    background: #b2b1b1;
  }
  
  .table__cell--row:hover {
    background: #344969;
  }
  